<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Teknik_Servis_Otomasyon_Sistemi_Proje_1_.Properties.Settings.Teknik_Servis_DBConnectionString"
            connectionString="Data Source=Kaan_Ata\KAAN_ATA;Initial Catalog=Teknik_Servis_DB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>